.panel-title a {
	/*color: #2980b9;*/
}

a {
	color: inherit;
}

.title {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { .home-search { width: 400px; }}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { .home-search { width: 600px; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .home-search { width: 800px; } }


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



#loading-bar .bar {
	background: #f1c40f !important;
}
#loading-bar .peg {
	box-shadow: #f1c40f 1px 0 6px 1px !important;
}

#loading-bar-spinner .spinner-icon {
	border-top-color:#f1c40f;
	border-left-color: #f1c40f;
}
.navbar-default {
	/*background-color: #f1c40f;*/
	/*color: white;*/
	border: none;
	border-radius: 0px;
	background-color: #1A252D;
	background-color: white;
	margin-top: 10px;
	/*color: #efefef;*/
}
.navbar-default .navbar-brand {
	/*color: white;*/
	font-weight: 200;
}

.btn.btn-secondary {
	border: 1px solid #3498db;
	color: #3498db;
	background-color: white;
}
.btn.btn-primary {
	background-color: #f1c40f;
	border: 1px solid #f1c40f;
	color: white;
}
.jumbotron {
	/*background-color: #f1c40f;*/
	/*color: white;*/
}

body {
	padding-bottom: 60px;
}
.footer {
	margin-top: 50px;
	background-color: #efefef;
	height: 60px;
	width: 100%;
}

.fa-spin {
  -webkit-animation: spin 0.5s infinite linear;
  -moz-animation: spin 0.5s infinite linear;
  -o-animation: spin 0.5s infinite linear;
  animation: spin 0.5s infinite linear;
}




html, body {
	width: 100%;
	height: 100%;
}
body {
    color: #4E4E4E;
}
p {
    line-height: 1.5;
}
.select2-search-choice {
    box-shadow: none;
    background-color: white;
    background-image: none;
}
.result {
    border-bottom: 1px solid #eee;
    padding: 30px 0;
}
.result:first-of-type {
    padding-top: 0;
}
.result h4 {
    margin-top: 0;
    line-height: 1.5;
    font-weight: 200;
}
.result .text-muted {
    margin-bottom: 20px;
}
.result-icon {
    font-size: 25px;
    color: #E8C14F;
    position: relative;
    top: 3px;
    margin-right: 3px;
}
.result p:last-child {
    margin-bottom: 0;
}
.result-hpo {
    /*//color: #ACC7D0;*/
    color: #ccc;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #888;
    font-size: 12px;
}


.filter {
    border: none;
    display: block;
    text-align: right;
    padding: 10px;
    margin-bottom: 2px;
}
.filter:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.filter:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.filter .fa {
    display: none;
    vertical-align: middle;
}
.filter:hover .fa {
    display: inline-block;
    color: #909090;
}
.filter.is-filtering {
    background-color: #EDEDED;
    color: #565656;
}
.filter.is-filtering .fa {
    display: inline-block;
    color: #909090;
}
.filter .label {
    background-color: #eee;
    color: black;
    margin-left: 10px;
}
.filter.is-filtering .label {
    background-color: white;
    color: #5F593D;
}
.filtersearch {
    margin-bottom: 5px;
}
.filtersearch input {
    border: 1px solid white;
    box-shadow: none;
    transition: none;
    text-align: right;
}
.filtersearch .input-group-addon {
    background-color: white;
    border: 1px solid white;
    color: #B9B9B9;
}
.filtersearch:hover input {
    border: 1px solid #ddd;
    border-right: none;
    /*text-align: left;*/
}
.filtersearch:hover .input-group-addon {
    border: 1px solid #ddd;
}
.filtersearch input:focus {
    box-shadow: none;
    border: 1px solid #ddd;
    border-right: none;
}
.filtersearch input:focus + .input-group-addon {
    border: 1px solid #ddd;
}
.filters {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.filters .list-group {
    margin-bottom: 0;
}
.filters-more {
    text-align: right;
    width: 100%;
    display: block;
    padding: 10px;
    color: #C6C6C6;
}


.progress {
    margin-top: 5px;
    height: 10px;
    box-shadow: none;
}
.progress-bar {
    background-color: #F1E3B9;
    box-shadow: none;
}



