<div>
    <style>
        .thumbnail img {
            width: 100px !important;
            height: 100px !important;
            border: 10px solid white;
        }
        .thumbnail {

        }

    </style>
    <div class="container">
        <div class="title">
            <h1>Meet the Team</h1>
        </div>

        <div>
            <h2>The University of Queensland</h2>
            <div class="row">
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <img src="http://www.itee.uq.edu.au/eresearch//filething/images/get/staff/img_tudor_groza.jpg" alt="...">
                        <div class="caption">
                            <h3>Tudor Groza</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <img src="https://lh6.googleusercontent.com/-xsVpHHNNpe8/AAAAAAAAAAI/AAAAAAAAAAA/kmO8i65C5GA/s128-c-k/photo.jpg" alt="...">
                        <div class="caption">
                            <h3>Craig McNamara</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h2>University of Sydney</h2>
            <div class="row">
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/8/000/1d9/3b7/1ce429b.jpg" alt="...">
                        <div class="caption">
                            <h3>Andreas Zankl</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h2>Charite Medical University, Berlin</h2>
            <div class="row">
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <img src="http://rd-connect.eu/rdcon/files/peter-robinson.jpg" alt="...">
                        <div class="caption">
                            <h3>Peter Robinson</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <img src="https://compbio.charite.de/contao/tl_files/groupmembers/koehler/other/skoehler.jpg" alt="...">
                        <div class="caption">
                            <h3>Sebastian Koehler</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="http://localhost:9000/images/logo-uq.gif" alt="">
                        <div class="row">
                            <div class="col-sm-6">
                                Tudor Groza
                                <img class="img-circle" src="http://www.itee.uq.edu.au/eresearch//filething/images/get/staff/img_tudor_groza.jpg" alt="">
                            </div>
                            <div class="col-sm-6">
                                Craig McNamara
                                <img class="img-circle" src="https://lh6.googleusercontent.com/-xsVpHHNNpe8/AAAAAAAAAAI/AAAAAAAAAAA/kmO8i65C5GA/s128-c-k/photo.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="http://localhost:9000/images/logo-usyd.jpeg" alt="">
                        <div class="row">
                            <div class="col-sm-12">
                                Andreas Zankl
                                <img class="img-circle" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/8/000/1d9/3b7/1ce429b.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="http://localhost:9000/images/logo-charite.jpeg" alt="" class="">
                        <div class="row">
                            <div class="col-sm-6">
                                Peter Robinson
                                <img class=" img-circle" src="http://rd-connect.eu/rdcon/files/peter-robinson.jpg" alt="">
                            </div>
                            <div class="col-sm-6">
                                Sebastian Koehler
                                <img class=" img-circle" src="https://compbio.charite.de/contao/tl_files/groupmembers/koehler/other/skoehler.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
