<div>
	<div class="footer-poweredby">
	    Powered By <a href="http://human-phenotype-ontology.org">Human Phenotype Ontology</a> and <a href="http://bio-lark.org/">Bio-LarK</a>
	</div>
	<ul class="logo-list">
	    <li class="logo-list-item logo-list-item-charite">
	        <img src="images/logo-charite.jpeg" alt="">
	    </li>
	    <li class="logo-list-item logo-list-item-disease-ontology">
	        <img src="images/logo-disease-ontology.jpg" alt="">
	    </li>
	    <li class="logo-list-item logo-list-item-garvan">
	        <img src="images/logo-garvan.png" alt="">
	    </li>
	    <!--  <li class="logo-list-item logo-list-item-irdirc">
	                            <img src="images/logo-irdirc.png" alt="">
	                        </li> -->
	    <li class="logo-list-item logo-list-item-monarch">
	        <img src="images/logo-monarch.png" alt="">
	    </li>
	    <!-- <li class="logo-list-item logo-list-item-orphanet">
	        <img src="images/logo-orphanet.png" alt="">
	    </li> -->
	    <li class="logo-list-item logo-list-item-uq">
	        <img src="images/logo-uq.gif" alt="" class="logo">
	    </li>
	    <li class="logo-list-item logo-list-item-usyd">
	        <img src="images/logo-usyd.jpeg" alt="" class="logo">
	    </li>
	</ul>
</div>