<style>
.jumbotron {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /*width: 50%;*/
    height: 50%;
    background-color: transparent;
}
.jumbotron h1 {
    margin-bottom: 30px;
    font-weight: 200;
    font-size: 45px;
    color: #888888;
}
.jumbotron small {
    font-weight: 200;
    margin-top: 10px;
    font-size: 20px;
    display: block;
    color: #aaa;
}
.select2-container-multi .select2-choices {
    border: 1px solid #ddd;
    background-image: none;
    padding: 10px 15px;
    border-radius: 3px;
}
footer {}
</style>
<div style="border-top: 5px solid #f1c40f">

    <div class="container">
        <div class="row">
            <div class="">
                <p style="text-align: right; margin-top: 20px;">
                    <a ui-sref="about">About</a>
                </p>
            </div>
        </div>
    </div>


    <div class="jumbotron animated bounceInDown">
        <div class="container">
            <div style="width: 50px; height: 50px; background-color: #f1c40f; margin: 0 auto; border-radius: 100px;">
                <i class="fa fa-book" style="color: white; font-size: 20px; line-height: 50px;"></i>
            </div>
            <h1>
                PubMed Browser
                <small>Human Phenotype Ontology</small>
            </h1>

            <!-- <p class="lead">
            <img src="images/yeoman.png" alt="I'm Yeoman"><br>
            Lorem Ispum hpo la de da.
        </p> -->
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div id="front-search" ui-select2="searchSelect" ng-model="searchbar.terms" ng-change="doSearch(searchbar.terms)">
                    </div>
                </div>
            </div>


            <div class="footer footer-search" ng-if="$state.current.name == 'search'">
                <div class="container" ng-include="'views/logos.html'">
                </div>
            </div>

            <!-- <div style="text-align: center; margin-top: 35px;">
    <img src="images/monarch-initiative-logo.png" alt="" style="width: 50px;">Monarch Initiative
</div>
 -->


            <!-- <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->
        </div>
    </div>
    <!-- <footer style="position: absolute; bottom: 0; width: 100%;">
        powered by
    </footer> -->
</div>
