<style>
    .jumbotron {
        text-align: center;
    }
    small {
        display: block;
    }
</style>
<div class="jumbotron">
    <div class="container">
        <h1>
            <small>Phenotype</small>
            PubMed Annotator
        </h1>
        
        <p class="lead">
            <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->
            Lorem Ispum hpo la de da.
        </p>
        <div ui-select2="searchSelect" ng-model="searchbar.terms" ng-change="doSearch(searchbar.terms)">
        </div>
        <!-- <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->
    </div>

</div>
