<div class="container" style="margin-top: 20px;">
    <style>
    h2 {
        font-weight: 200;
        line-height: 1.5;
        margin-top: 0;
    }
    .fa-stethoscope {
        font-size: 30px;
        color: #E8C14F;
        position: relative;
        top: 10px;
        margin-right: 5px;
    }
    h3 {
        margin-top: 0;
        font-size: 16px;
        /*font-weight: 200;*/
    }
    </style>


    <div class="row">
        <div class="col-sm-12">

            <div class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-stethoscope"></i>
                </a>
                <div class="media-body">
                    <div class="col-sm-8">
                        <h2>{{ term.label || 'Loading...' }}

                            <small ng-show="term.ic" class="term-ic">IC {{ term.ic | number:3 }}</small>

                            <span ng-show="term" class="pull-right">
                                <a ng-show="term && $stateParams.termType === 'mesh'" ng-href="http://pubmed-browser.human-phenotype-ontology.org:8080/phenopub/mesh/download?id={{ $stateParams.termId }}" download class="btn btn-default">Download</a>

                                <a ng-show="diseaseNetworkUrl" target="_blank" ng-href="{{ diseaseNetworkUrl }}" class="btn btn-primary">View Disease Network</a>    
                            </span>
                            
                        </h2>
                        <div ng-switch="$stateParams.termType">
                            <p class="text-muted" ng-switch-when="hpo">
                                HPO Term
                            </p>
                            <p class="text-muted" ng-switch-when="mesh">
                                MeSH Term
                            </p>
                        </div>
    
                        

                        <div ng-repeat="pubmed in term.pubs | limitTo:limit" class="result">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <i class="fa fa-book result-icon"></i>
                                </a>
                                <div class="media-body">
                                    <h4>
                                        <a ui-sref="pubmed({pubmedId: pubmed.pmid})">{{ pubmed.title }}</a>
                                    </h4>
                                    <div ng-hide="pubmed.abstract" style="text-align: center; font-size: 20px;">
                                        <i class="fa fa-spin fa-circle-o-notch"></i>
                                    </div>
                                    <p class="text-muted">
                                        <span ng-repeat="(key, author) in pubmed.authors">{{ author }}; &nbsp;</span>
                                    </p>
                                    <div>
                                        {{ pubmed.abstract | characters:200 }}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <button class="btn btn-default form-control" ng-click="loadMore()" ng-show="limit < term.pubs.length" style="margin-top: 20px;">
                            Load More
                        </button>

                    </div>
                    <div class="col-sm-4" style="margin-top: 20px;">
                        <div style="margin-bottom: 21px;" ng-show="term.doid">
                            <h5>Disease Ontology</h5>
                            <div ng-repeat="(key, doid) in term.doid" style="color: #888; text-transform: uppercase; font-size: 12px;">
                                DOID: <a ng-href="{{ doid.url }}" target="_blank">{{ doid.id }}</a>
                                <span ng-show="doid.vis_id">
                                    - 
                                    <a ng-href="{{ doid.vis_id }}" target="_blank">View Disease Network</a>
                                </span>
                            </div>
                        </div>
                               
                            
                        <div ng-show="$stateParams.termType === 'mesh' && term">

                            <div class="input-group termsearch" style="margin-bottom: 15px;">
                                <input type="text" class="form-control" placeholder="HPO" ng-model="hpoSearch">
                                <span class="input-group-addon"><i class="fa fa-search"></i>
                                </span>
                            </div>

                            <!-- <h3 style="margin-bottom: 15px; color:#6E6E6E">HPO</h3> -->
                            <div class="result-hpo" ng-repeat="hpo in term.hpo | orderBy:'-ic' | filter:hpoSearch">
                                <a ui-sref="term({termId:hpo.id, termType:'hpo', termName:hpo.label})">
                                    {{ hpo.label }}
                                </a>
                                <span class="term-ic">- TF-IDF {{ hpo.ic | number:3 }}</span>

                                <div>
                                    <!-- <span class="pull-left" style="margin-right: 10px; font-weight: bold; position: relative; top: -4px;;" tooltip="Information Content">IC</span> -->
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ hpo.ic / maxIc * 100 }}%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- <div class="col-sm-6"> -->
                        <div ng-show="$stateParams.termType === 'hpo' && term">
                            <div class="input-group termsearch" style="margin-bottom: 15px;">
                                <input type="text" class="form-control" placeholder="MeSH" ng-model="meshSearch">
                                <span class="input-group-addon"><i class="fa fa-search"></i>
                                </span>
                            </div>
                            <div class="result-hpo" ng-repeat="mesh in term.mesh | filter:meshSearch" style="margin-bottom:10px">
                                <a ui-sref="term({termId:mesh.id, termType:'mesh', termName:mesh.label})">
                    {{ mesh.label}}
                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-hide="term" style="text-align: center; font-size: 30px;">
                <i class="fa fa-spin fa-circle-o-notch"></i>
            </div>
        </div>
    </div>
</div>
