<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ term.label }} <small>{{ $stateParams.termType }}</small></h2>

            <h3>Inforamtion Content</h3>
            {{ term.ic }}
    
            <h3>Synonyms</h3>
            <ul>
                <li ng-repeat="synonym in term.synonyms">
                    {{ synonym }}
                </li>
            </ul>
        </div>

        <div class="col-sm-8">
            <div ng-repeat="pubmed in term.pubs">
                <h3><a ui-sref="pubmed({pubmedId: pubmed.pmid})">{{ pubmed.title }}</a></h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <h3>MeSH</h3>
                <ul>
                    <li ng-repeat="mesh in term.mesh">
                        <a ui-sref="term({termId: mesh.id, termType: 'mesh', termName: mesh.label})">
                            {{ mesh.label }}
                        </a>
                    </li>
                </ul>
            </div>

            <div>
                <h3>HPO</h3>
                <ul>
                    <li ng-repeat="hpo in term.hpo">
                        <a ui-sref="term({termId: hpo.id, termType: 'mesh', termName: mesh.label})">
                            {{ mesh.label }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
